apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: streambus-broker
spec:
  template:
    spec:
      containers:
        - name: broker
          resources:
            requests:
              cpu: 2000m
              memory: 4Gi
            limits:
              cpu: 8000m
              memory: 16Gi
          env:
            - name: STREAMBUS_LOG_LEVEL
              value: "info"
            - name: STREAMBUS_TRACING_ENABLED
              value: "true"
            - name: STREAMBUS_PROFILING_ENABLED
              value: "true"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node.kubernetes.io/instance-type
                    operator: In
                    values:
                      - m5.2xlarge
                      - m5.4xlarge
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        resources:
          requests:
            storage: 500Gi
